.App{
  box-sizing: border-box;
  width: 95vh;
  height: 60vh;
  margin: auto;
  margin-top: 15vh;
  font-family: 'Gabarito', cursive;
  border: 3px black solid;
}

a{
  color: black;
  text-decoration: none;
}